header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  font-family: sans-serif;
}

.header-ttl {
  font-size: 35px;
}

.header-ttl-link {
  text-decoration: none;
  color: #00277e;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.header-nav-item {
  list-style: none;
  font-size: 20px;
}

.header-nav-item:not(:last-of-type) {
  margin-right: 50px;
}

.header-nav-item-link {
  text-decoration: none;
  color: #00277e;
}

.eyecatch {
  position: relative;
}

.eyecatch-img-container {
  width: 50%;
  margin: 100px 0 0 auto;
}

.eyecatch-img {
  width: 100%;
  height: 100%;
  display: block;
}

.bg-blue {
  background: #00277e;
  width: 75%;
  height: 200px;
  position: absolute;
  bottom: -100px;
  z-index: -1;
}

.catch-copy {
  position: absolute;
  bottom: 100px;
  font-size: 70px;
  color: #00277e;
  font-family: sans-serif;
}
/* 
main {
  position: relative;
  font-family: sans-serif;
  font-size: 18px;
}

.main-img img {
  margin: 100px 0 0 auto;
  display: block;
  width: 50%;
  z-index: 10;
}

.main-ttl {
  position: absolute;
  top: 60%;
  font-size: 300%;
  font-weight: lighter;
}

.main-box {
  position: absolute;
  background: #00277e;
  top: 75%;
  width: 75%;
  height: 200px;
  z-index: -10;
} */
